{
    "tabWidth": 4,
    "bracketSameLine": true,
    "semi": false,
    "trailingComma": "es5",
    "singleQuote": true,
    "printWidth": 120,
    "endOfLine": "auto",
    "singleAttributePerLine": true
}
