// PageHeader
.ant-page-header {
    &[main] {
        margin: -16px -16px 16px;
    }
    &[round] {
        border-radius: @border-radius-lg;
    }
    &[bordered] {
        border: @color-split solid 1px;
    }
}

.anticon {
    display: inline-flex;
    align-items: center;
}

// Tabs
.ant-tabs {
    &[no-margin-bottom] {
        .ant-tabs-nav {
            margin-bottom: 0;
        }
    }
}

.ant-tabs-dropdown {
    .ant-tabs-dropdown-menu {
        padding-inline: 4px;
    }

    .ant-tabs-dropdown-menu-item {
        border-radius: 4px;
    }

    .ant-dropdown-trigger {
        display: flex;

        .multi-tab__icon {
            margin: 0 0 0 auto;
        }
    }
}

// Dropdown
.ant-dropdown-menu-submenu-title {
    border-radius: 4px;
}

// Button
.ant-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

// Tree
.ant-tree {
    &.ant-tree-block-node {
        .ant-tree-treenode {
            padding-block: 4px;
            margin-block: 0 4px;
            border-radius: @border-radius;
            transition: all 0.2s;

            &:hover {
                background: @color-bg-text-hover;
            }

            .x-action-btn {
                &:hover {
                    background: @color-bg-text-hover;
                }
            }

            &.ant-tree-treenode-selected {
                background: color(~`colorPalette('@{color-primary}', 1) `);

                .x-action-btn {
                    &:hover {
                        background: color(~`colorPalette('@{color-primary}', 2) `);
                    }
                }
            }
        }

        .ant-tree-node-content-wrapper {
            &:hover {
                background: transparent;
            }

            &.ant-tree-node-selected {
                background: transparent;
            }
        }
    }

    .ant-tree-title {
        display: flex;

        &__name {
            flex: 1;
        }

        &__actions {
            flex-shrink: 0;
        }
    }
}
